.item {
  display: flex;
  flex-direction: column;
}

#menu {
  width: 80%;
  
  /* border-collapse: collapse; */
  margin-bottom: 20px;
  border: 1px solid black;
}

/* #menu-body {
  
  flex-direction: row;
} */

/* tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  } */

/* th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead tr {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  font-weight: bold;
}
 */
