.add-pizza-form {
    display: grid;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    gap: 15px;
}

input {
    background-color: rgb(241, 118, 18);
    border-radius: 5px;
    font-size: 20px;

}

input::placeholder {
    color: ghostwhite;
}

.inputs {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(77, 76, 76);
    border-radius: 10px;
    padding: 8px;
    gap: 15px;
    background-color: ghostwhite;
}

#submit-button {
    background-color: rgb(18, 8, 130);
    border-radius: 10px;
    color:aliceblue;
    height: 30px;
    font-size: 16px;
}

#submit-button:hover {
    background-color: rgb(124, 120, 172);
    transform: 1.2;
}

.radio-container {
    border: 2px solid rgb(109, 108, 108);
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 61, 39);
    color:aliceblue;
}

.delivery {
    display: flex;
    flex-direction: row;
}
