.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  background-color: #222;
  height: 70px;
  padding: 20px 10px 20px 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
  flex-grow: 1;
}

.totalPrice {
  text-align: right;
}

a:hover {
  background-color: blueviolet;
  color: ghostwhite;
}
